.checkout
{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
    border-bottom: solid 1px;

    
}

.checkout_title
{
    margin-top: 100px;
    margin-left: 5px;
    border-bottom: 2px solid;
    
}



.checkout_right
{
    
    margin-left: 750px;
    margin-top: 20px;
    
    
}

